/* FONTS: */

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(2, 2, 2);
    text-align: center;
    margin-bottom: 50px;
   
}


/* AREAS OF THE PAGE */

/* Main body */
body{
    background-color: rgb(24, 54, 66, .7);
}
/* Border for whole page */
.page{
  margin: auto;
  align-content: center;
  max-width: 1000px; 
  height: 400px;
  margin-top: 200px;
  background-color: #cbc5ea;
  
  border-width: 5px;
  border-style: double;
  border-radius: 5px;
  border-color: rgb(24, 54, 66);
}

/* Head */
.header{
  margin: auto;
  margin-top: 50px;
  align-content: center;
  max-width: 800px;
  background-color: #EAEAEA;

    
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(24, 54, 66);
}

/* BUTTONS for homepage */
.buttons{
  margin: auto;
  margin-top: 100px;
  align-content: center;
  max-width: 800px;
}

  /* Button Options */
  a{
    border: 15px;
    border-color: black;
    border-style: solid;
    text-align: center; 
    margin:auto; 
    margin-left: 75px;
   
}

#link1{
    background-color: rgba(115, 98, 138, .9);

    padding:30px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
 
    
}

#link1:hover{

    background-color: rgba(115, 98, 138, .6);

    border:2px;
    border-color:rgb(1, 1, 0);
    border-style: solid;
    
}



/* CODE FOR PUSLING BORDERS */
  @keyframes border-pulsate1 {
    0%   { border-color: rgba(230, 34, 75, 1); }
    50%  { border-color: rgba(230, 34, 75, 0); }
    100% { border-color: rgba(230, 34, 75, 1); }
  }
  
  @keyframes border-pulsate2 {
    0%   { border-color: #22e68b}
    10%  { border-color: rgba(230, 34, 75, 0)}
    20%  { border-color: rgba(230, 34, 75)}
    30%  { border-color: rgba(230, 34, 75, 0)}
    40%  { border-color: rgba(0, 47, 167)}
    50%  { border-color: rgba(230, 34, 75, 0)}
    60%  { border-color: rgba(250, 250, 0)}
    70%  { border-color: rgba(230, 34, 75, 0)}
    80% { border-color: #22e68b}
  }

  @keyframes myAnimation {
    0%   {border-color: #22e68b; background-color: black}      
    50%  {border-color: black; background-color:yellow}
    
  }
/* CODE FOR PUSLING BORDERS */
  