body{
    background-color: #48494b;
}

.header{
    margin: auto;
    margin-top: 20%;
    align-content: center;
    max-width: 800px;
    background-color: #48494b;
  
}

.indexbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0px 10px 0px 
}


#link1{
    background-color: #48494b;
    font-family: 'Mukta', sans-serif;
    font-weight:600;
    color:white;
    text-align: none;
    
}

#link1:hover{
    background-color: #48494b;
    font-family: 'Mukta', sans-serif;
    font-weight:600;
    color:#7852A9;
    
}