/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* Set the background color for my page: */

body{
    background-color: #CBC5EA
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    text-align: center;
} 
h3{text-decoration: underline;}

/* Page headings for Portfolio and Project */
.pagehead{
    margin: auto;
    margin-top: 30px;
    align-content: center;
    max-width: 800px;
    background-color: #313d5a;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(24, 54, 66);

}

/* Headings for each week*/
.weektitle{
    margin: auto;
    margin-top: 30px;
    align-content: center;
    max-width: 940px;
    background-color: rgb(88, 129, 87, .4);
    border-width: 3px;
    border-style: dotted;
    border-color: rgb(24, 54, 66);

}
/* Regular Text*/
.text{
    margin: auto;
    align-content: center;
    max-width: 900px;
    background-color: #EAEAEA;
    padding: 30px;
}

/* Text alongside chart*/
.sidebysidetext{
    margin: auto;
    align-content: center;
    max-width: 900px;
    background-color: #EAEAEA;
    padding-top: 160px;
    padding-bottom: 160px; 
}


/* Div to put each of the weekly tasks into */
.weekstyle{
    margin: auto;
    margin-top: 30px;
    align-content: center;
    max-width: 900px;
    background-color: #EAEAEA;
    padding: 20px;

    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(24, 54, 66);
}
.week9style{
    margin: auto;
    margin-top: 30px;
    align-content: center;
    max-width: 900px;
    height: 1050px;
    background-color: #EAEAEA;
    padding: 20px;

    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(24, 54, 66);
}

/* Div when have 2 charts to display for each week */
.weekstyle2{
    margin-left:10px;
    align-content: center;
    width: 430px;
    float:left;
    background-color: #EAEAEA;   
}

/* Div for displaying chart on right of page*/
.weekstyleright{
    margin-left:10px;
    align-content: center;
    width: 430px;
    float:right;
    background-color: #EAEAEA;   
}
/* Setting the apperance of chart- use for standard template the weekly tasks */
.chart{
    align-items: center;
    background-color: white;
    width:360px;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 35px;
    margin-bottom: 20px;
    
}
/* Setting the apperance of the Week 3 chart, which is wider due to the legend*/
.chartweek3{
    align-items: center;
    background-color: white;
    width:415px;
    height:340px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 10px;
    margin-bottom: 20px; 
}
/* Setting the apperance of the Week 4 chart, which is a standalone*/
.chartweek4{
    align-items: center;
    background-color: white;
    width:350px;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 275px;
    margin-bottom: 20px;
    
}
/* Setting the apperance of the the smaller chart- use for the Week 5 task to produce a dashboard */
.chartweek5{
    align-items: center;
    background-color: white;
    width:250px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 30px;
    margin-bottom: 30px;
}
/*Setting the apperance of the the larger UK map: use for the Week 7 task */
.chartweek7{ 
    align-items: center;
    background-color: white;
    width:725px;
    height:700px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 75px;
    margin-bottom: 20px; 
}
/* Setting the apperance of the Week 8 charts, which we want bigger and centred*/
.chartweek8{
    align-items: center;
    background-color: white;
    width:650px;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-top: 10px;
    margin-left: 125px;
    margin-bottom: 10px;
}

.chartweek9{
    align-items: center;
    background-color: white;
    width:420px;
    height:450px;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 10px;
    margin-bottom: 20px;
    
}


  /* Setting the div for button at the bottom of page */
.backbutton{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    max-width: 800px;
  }
  
    /* Button Options */
    b{
      border: 15px;
      border-color: black;
      border-style: solid;
      text-align: center;
      margin-left: 280px;
    
     
  }
  
  #link{
      background-color: rgba(115, 98, 138, .9);
  
      padding:30px;
      
      border:2px;
      border-color:grey;
      border-style: solid;
      border-radius: 10px;
      margin-left: 290px;
  
      font-family: 'Courier New', Courier, monospace;
      font-weight:700;
      color:white;
      
      text-decoration: none;
   
      
  }
  
  #link:hover{
  
      background-color: rgba(115, 98, 138, .6);
  
      border:2px;
      border-color:rgb(1, 1, 0);
      border-style: solid;
      margin-left: 290px;
      
  }